<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
    <display-name>book store</display-name>

    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.bookstore.servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>com.bookstore.servlets.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutServlet</servlet-name>
        <servlet-class>com.bookstore.servlets.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>com.bookstore.servlets.AddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookSearchServlet</servlet-name>
        <servlet-class>com.bookstore.servlets.BookSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartUpdateServlet</servlet-name>
        <servlet-class>com.bookstore.servlets.CartUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>com.bookstore.servlets.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersLookupServlet</servlet-name>
        <servlet-class>com.bookstore.servlets.UsersLookupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerAccountServlet</servlet-name>
        <servlet-class>com.bookstore.servlets.CustomerAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitOrderServlet</servlet-name>
        <servlet-class>com.bookstore.servlets.SubmitOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitReviewServlet</servlet-name>
        <servlet-class>com.bookstore.servlets.SubmitReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookLookupServlet</servlet-name>
        <servlet-class>com.bookstore.servlets.BookLookupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.bookstore.servlets.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateReportsServlet</servlet-name>
        <servlet-class>com.bookstore.servlets.GenerateReportsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistrationServlet</servlet-name>
        <servlet-class>com.bookstore.servlets.UserRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.bookstore.servlets.HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutServlet</servlet-name>
        <url-pattern>/UserLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersLookupServlet</servlet-name>
        <url-pattern>/UsersLookup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/UserDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSearchServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartUpdateServlet</servlet-name>
        <url-pattern>/cartUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitOrderServlet</servlet-name>
        <url-pattern>/submitOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitReviewServlet</servlet-name>
        <url-pattern>/submitReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookLookupServlet</servlet-name>
        <url-pattern>/BookLookup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateReportsServlet</servlet-name>
        <url-pattern>/generateReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistrationServlet</servlet-name>
        <url-pattern>/user-register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerAccountServlet</servlet-name>
        <url-pattern>/CustomerAccount</url-pattern>
    </servlet-mapping>

    <context-param>
        <description>First location to store uploaded cover images</description>
        <param-name>file-upload</param-name>
        <param-value>
            d:\data\Java\apache-tomcat-9.0.93\webapps\book-store\book_images
        </param-value>
    </context-param>
</web-app>